@model MBR.Models.CleanRecord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CleanRecord</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MBRMembrane.Manufacturer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MBRMembrane.Manufacturer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CleanType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CleanType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Kinds)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Kinds)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Concentration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Concentration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoakPeriod)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoakPeriod)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BeforeClean)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BeforeClean)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AfterClean)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AfterClean)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SingleChlorine)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SingleChlorine)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RecoveryRate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RecoveryRate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccumulativeChlorine)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccumulativeChlorine)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Remark)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Remark)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CleanRecordID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
