@model MBR.Models.PermeableRrateAlert

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PermeableRrateAlert</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OnlineMin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OnlineMin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OnlineMax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OnlineMax)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OfflineMin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OfflineMin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OfflineMax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OfflineMax)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChangeMin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChangeMin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChangeMax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChangeMax)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DurationMax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DurationMax)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
