@model MBR.Models.MembraneAlert

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>MembraneAlert</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PermeableRateMin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PermeableRateMin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DurationMax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DurationMax)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccumulativeChlorine)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccumulativeChlorine)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MembraneAlertID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
