@model MBR.Models.MembraneAlert

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MembraneAlert</legend>

        @Html.HiddenFor(model => model.MembraneAlertID)

        <div class="editor-label">
            @Html.LabelFor(model => model.PermeableRateMin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PermeableRateMin)
            @Html.ValidationMessageFor(model => model.PermeableRateMin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DurationMax)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DurationMax)
            @Html.ValidationMessageFor(model => model.DurationMax)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccumulativeChlorine)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccumulativeChlorine)
            @Html.ValidationMessageFor(model => model.AccumulativeChlorine)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
