@model IEnumerable<MBR.Models.MembraneAlert>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PermeableRateMin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DurationMax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccumulativeChlorine)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PermeableRateMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DurationMax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccumulativeChlorine)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MembraneAlertID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MembraneAlertID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MembraneAlertID })
        </td>
    </tr>
}

</table>
